@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
  @apply font-satoshi;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  letter-spacing: -0.02em;
}

p,
span {
  letter-spacing: -0.02em;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}
